<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <%= link_to "タイトル", "", class: 'navbar-brand' %>

      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <%= link_to current_user.name, edit_user_registration_path(current_user), class: 'nav-link' %>
          <%= link_to "投稿" , "", class: 'nav-link' %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </ul>
      </div>
    </div>
  </nav>
</header>